body {
  padding: 2em;
  font-size: 20px;
  color: #1B6BB0;
  background-color: #4A5664;
}
ul {
  text-align: center;
}
.head {
  list-style-type: none;
  display: inline;
  color : #2AA0E8;
  font-size: xx-large;

}
img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
li {
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  body {
    background-color: #B34DA3;
    padding: 1em;
  }
  .head {
    display: block;
    font-size: 1em;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: #FF7FFD;
    padding: 2em;
  }
  .head {
    font-size: 1em;
  }

}

@media screen and (min-width: 1200px) {
  body {
   padding: 2em;
   font-size: 20px;
   background-color: #4A5664;
  }

}
